{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.4"}
        datalevin/datalevin {:mvn/version "0.10.1"}
        com.taoensso/tempel {:mvn/version "1.1.0"}
        com.taoensso/nippy {:mvn/version "3.6.2"}
        com.phronemophobic/tcp-pipe {:git/url "https://github.com/phronmophobic/tcp-pipe.git"
                                     :git/sha "d55ed520e94669c135136a01a567a469f4924aab"}
        com.phronemophobic/automerge-clj {:git/url "https://github.com/phronmophobic/automerge-clj.git"
                                          :git/sha "f223344dab7027ba3edd2cf674804c1930d47c7e"}
        
        com.phronemophobic.cljonda/automerge-c-darwin-aarch64 {:mvn/version "a11222254d2f86ec9df0738e7002f15a930fe9b4-SNAPSHOT"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.0"}}}
  :runner
  {:extra-deps {io.github.cognitect-labs/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "2d69f33d7980c3353b246c28f72ffeafbd9f2fab"}}
   :exec-fn cognitect.test-runner.api/test}
  :jar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.216"}}
        :exec-fn hf.depstar/jar
        :exec-args {:jar "autosync.jar" :sync-pom true}}
  :install {:replace-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
            :exec-fn deps-deploy.deps-deploy/deploy
            :exec-args {:installer :local :artifact "autosync.jar"}}
  :deploy {:replace-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
           :exec-fn deps-deploy.deps-deploy/deploy
           :exec-args {:installer :remote :artifact "autosync.jar"}}}}
